<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>Create Group</title>
</head>
<body>
    <%- include('navbar') %>
    <form method="POST" action="group" style="width: 25%;margin-left: 35%;margin-top: 150px;">
        
        <div class="form-group">
            <label>Group Name</label>
            <input type="text" class="form-control" name="groupName" placeholder="Enter Group Name">
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
    </form>
    
</body>
</html>